////////////////////////////////////
// Variables.
///////////////////////////////////

// Colors.
$orange: #FF7F00;
$yellow: #FFD933;
$beige: #CCCC52;
$green: #30A140;
$blue: #244240;
$white: #FFFFFF;
$black: #000000;

// Fonts.
$font-family-main: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-mono: Menlo, Monaco, Consolas, "Courier New", monospace;


////////////////////////////////////
// Main App Styles.
///////////////////////////////////
body {
  font-family: $font-family-main;
  font-size: 14px;
  background: $white;
}

////////////////////////////////////
// Toolbar styles.
///////////////////////////////////
#toolbarMain {
  background-color: $blue;
  color: $white;
}
